<!-- home.component.html -->
<div class="hero-section">
    <div class="container text-center d-flex flex-column align-items-center justify-content-center">
      <img
        src="https://i.postimg.cc/y6Qf9BB0/pngtree-food-logo-png-image-5687686.png"
        alt="RESTO Logo"
        class="logo"
      />
      <h1>RESTO</h1>
      <h1 class="hero-title">Enjoy Our Delicious Meals</h1>
      <p class="hero-subtitle">
        At RESTO, we are committed to providing high-quality meals and exceptional
        service. Indulge in flavors crafted with passion and care.
      </p>
      <a  href="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-primary mt-3">Explore Our Menu</a>
    </div>
  </div>
  