<app-header></app-header>
<div class="container mt-5">
    <div class="container mt-5">
        <h3>Your Orders</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Item</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>pasta</td>
              <td>2</td>
              <td>$12.99</td>
              <td>$25.98</td>
            </tr>          </tbody>
          <tfoot>
            <tr>
              <td colspan="4" class="text-end"><strong>Grand Total</strong></td>
              <td><strong>$25.98</strong></td> 
          </tfoot>
        </table>
      </div>
      
</div>
